.adjacent {

    width: 400px; 
    height: 300px;
    display: inline-block;      
}
.adjacent-list {
    text-align: center;
}
.adjacent4 {
    width: 200px; 
    text-align: center;
    display: inline-block; 
    height: 300px;
}
.adjacent3 {

    width: 200px; 
    display: inline-block; 
  
}

.gradient {
    background-color: black;
    background-image: linear-gradient(to bottom right, blue, purple);
    
}
.purple {
    background-color: #0D19A3;

}

.block {
    height: 600px;
}
.white {
    background-color: white;
}

.light-blue {
    background-color: lightblue;   
}

.button {
        background-color: #15DB95;
        color: white;
        font: inherit;
        padding: 8px;
        cursor: pointer;
        text-decoration: none;
        margin: 20px;
      }

.green-outline {
    border: 3px solid #15DB95;
    width: 400px;
    height:100px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
}

.adjacent3list {
    height: 300px;    
    text-align: center;
    
}

.list {
    text-align: left;
    width: 600px;
}



