.adjacent {

    width: 400px; 
    display: inline-block;  

}

.adjacent3 {

    width: 200px; 
    display: inline-block; 
  
}

.adjacent4 {
    width: 200px; 
    text-align: center;
    display: inline-block; 
    height: 300px;
}

.adjacent-list {
    text-align: center;
    padding: 20px;
}

.gradient {
    background-color: black;
    background-image: linear-gradient(to bottom right, blue, purple);
    
}

.title {
    display: inline-block;
    width: 600px;
    height: 200px;
}

.purple {
    background-color: #0D19A3;
    color: white;
}

.white {
    background-color: white;
}

.light-blue {
    background-color: lightblue;   
}

.button {
        background-color: #15DB95;
        color: white;
        font: inherit;
        padding: 8px;
        cursor: pointer;
        text-decoration: none;
        margin: 5px;
        display: inline-block;
      }

.green-outline {
    border: 3px solid #15DB95;
    width: 400px;
    height:100px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
}

.list {
    text-align: left;
    width: 500px;
    display: inline-block; 
    margin-left: 40px;
}

.login {
    width:200px;
    margin:20px;
    border:2px #CCC solid;
    padding:10px;
    border-radius: 10px;
    background-color: lightgray;
    display: inline-block;
    }
.centered {
    display: inline-block;
    margin-top: 20px;
}
    
.login-button {
    background-color:#0D19A3;
    color: white;
    font: inherit;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    width: 100px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px; 
}

.login-input {
padding:5px;
margin:5px;
}


